modules/sis-sync/src/main/resources/xsd/list.xsd

<?xml version="1.0" encoding="Windows-1250"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:typ="http://www.stormware.cz/schema/type.xsd"
			xmlns:rdc="http://www.stormware.cz/schema/documentresponse.xsd"
			xmlns:stk="http://www.stormware.cz/schema/stock.xsd"
			xmlns:lst="http://www.stormware.cz/schema/list.xsd"
			xmlns:adb="http://www.stormware.cz/schema/addressbook.xsd"
			xmlns:inv="http://www.stormware.cz/schema/invoice.xsd"
			xmlns:ord="http://www.stormware.cz/schema/order.xsd"
			xmlns:enq="http://www.stormware.cz/schema/enquiry.xsd"
			xmlns:ofr="http://www.stormware.cz/schema/offer.xsd"
			xmlns:prm="http://www.stormware.cz/schema/parameter.xsd"
			xmlns:vyd="http://www.stormware.cz/schema/vydejka.xsd"
			xmlns:pri="http://www.stormware.cz/schema/prijemka.xsd"
			xmlns:bal="http://www.stormware.cz/schema/balance.xsd"
			xmlns:ctg="http://www.stormware.cz/schema/category.xsd"
			xmlns:ipm="http://www.stormware.cz/schema/intParam.xsd"
			xmlns="http://www.stormware.cz/schema/list.xsd"
			targetNamespace="http://www.stormware.cz/schema/list.xsd"
			elementFormDefault="qualified"
>

<xsd:import namespace="http://www.stormware.cz/schema/type.xsd" schemaLocation="type.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/documentresponse.xsd" schemaLocation="documentresponse.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/stock.xsd" schemaLocation="stock.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/addressbook.xsd" schemaLocation="addressbook.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/invoice.xsd" schemaLocation="invoice.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/order.xsd" schemaLocation="order.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/offer.xsd" schemaLocation="offer.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/enquiry.xsd" schemaLocation="enquiry.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/parameter.xsd" schemaLocation="parameter.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/vydejka.xsd" schemaLocation="vydejka.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/prijemka.xsd" schemaLocation="prijemka.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/balance.xsd" schemaLocation="balance.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/category.xsd" schemaLocation="category.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/intParam.xsd" schemaLocation="intParam.xsd"/>

<!-- **************************************************************************
		root element
	 ************************************************************************** -->

<!-- ************************************************************************** -->
<!-- REQUEST -->
<xsd:element name="listCentreRequest" type="lst:listRequestType"/>
<xsd:element name="listActivityRequest" type="lst:listRequestType"/>
<xsd:element name="listContractRequest" type="lst:listRequestType"/>
<xsd:element name="listCashRequest" type="lst:listRequestType"/>
<xsd:element name="listAccountingSingleEntryRequest" type="lst:listRequestAgendasType"/>
<xsd:element name="listAccountingDoubleEntryRequest" type="lst:listRequestAgendasType"/>
<xsd:element name="listAccountRequest" type="lst:listRequestType"/>
<xsd:element name="listNumericSeriesRequest" type="lst:listRequestAgendasType"/>
<xsd:element name="createAccountingDoubleEntry" type="lst:createAccountingDoubleEntryType"/>
<xsd:element name="listInvoiceRequest" type="lst:listInvoiceRequestType"/>
<xsd:element name="listAddressBookRequest" type="lst:listAddressBookRequestType"/>
<xsd:element name="listOrderRequest" type="lst:listOrderRequestType"/>
<xsd:element name="listEnquiryRequest" type="lst:listEnquiryRequestType"/>
<xsd:element name="listOfferRequest" type="lst:listOfferRequestType"/>
<xsd:element name="listParameterRequest" type="lst:listParameterRequestType"/>
<xsd:element name="listUserCodeRequest" type="lst:listUserCodeRequestType"/>
<xsd:element name="listVydejkaRequest" type="lst:listVydejkaRequestType"/>
<xsd:element name="listPrijemkaRequest" type="lst:listPrijemkaRequestType"/>
<xsd:element name="listStorageRequest" type="lst:listRequestStoresType"/>
<xsd:element name="listSellingPriceRequest" type="lst:listRequestType"/>
<xsd:element name="listBalanceRequest" type="lst:listBalanceRequestType"/>
<xsd:element name="listCategoryRequest" type="lst:listCategoryRequestType"/>
<xsd:element name="listIntParamRequest" type="lst:listIntParamRequestType"/>

<!-- ************************************************************************** -->
<!-- RESPONSE -->
<!--  odpovìï - export seznamù -->
<xsd:element name="listCentre" type="lst:listCentreType"/>
<xsd:element name="listActivity" type="lst:listActivityType"/>
<xsd:element name="listContract" type="lst:listContractType"/>
<xsd:element name="listCash" type="lst:listCashType"/>
<xsd:element name="listAccountingSingleEntry" type="lst:listAccountingSingleEntryType"/>
<xsd:element name="listAccountingDoubleEntry" type="lst:listAccountingDoubleEntryType"/>
<xsd:element name="listAccount" type="lst:listAccountType"/>
<xsd:element name="listNumericSeries" type="lst:listNumericSeriesType"/>
<xsd:element name="createAccountingDoubleEntryResponse" type="lst:createAccountingDoubleEntryResponseType"/>  <!--  odpovìï na vytvoøení nového záznamu  -->
<xsd:element name="listStock" type="lst:listStockType"/>
<xsd:element name="listInvoice" type="lst:listInvoiceType"/>
<xsd:element name="listAddressBook" type="lst:listAddressBookType"/>
<xsd:element name="listOrder" type="lst:listOrderType"/>
<xsd:element name="listEnquiry" type="lst:listEnquiryType"/>
<xsd:element name="listOffer" type="lst:listOfferType"/>
<xsd:element name="listParameter" type="lst:listParameterType"/>
<xsd:element name="listUserCode" type="lst:listUserCodeType"/>
<xsd:element name="listUserCodePack" type="lst:listUserCodePackType"/>
<xsd:element name="listVydejka" type="lst:listVydejkaType"/>
<xsd:element name="listPrijemka" type="lst:listPrijemkaType"/>
<xsd:element name="listStorage" type="lst:listStorageType"/>
<xsd:element name="listSellingPrice" type="lst:listSellingPriceType"/>
<xsd:element name="listBalance" type="lst:listBalanceType"/>
<xsd:element name="listCategory" type="lst:listCategoryType"/>
<xsd:element name="listIntParam" type="lst:listIntParamType"/>

<!-- **************************************************************************
		base types
	 ************************************************************************** -->

<xsd:complexType name="listRequestType">
	<xsd:attribute name="version" type="xsd:string" use="required"/>
</xsd:complexType>

<xsd:complexType name="listRequestAgendasType">
	<xsd:complexContent>
		<xsd:extension base="lst:listRequestType">
			<xsd:sequence minOccurs="0" maxOccurs="1">
				<xsd:element name="agendas">					
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="agenda" type="lst:agendaType" minOccurs="0" maxOccurs="unbounded">	
								<xsd:annotation>
									<xsd:documentation>Výèet agend, pro které se vyexportují data.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listRequestStoresType">
	<xsd:complexContent>
		<xsd:extension base="lst:listRequestType">
			<xsd:sequence minOccurs="0" maxOccurs="1">
				<xsd:element name="stores">					
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="store" type="typ:refType" maxOccurs="unbounded">	
								<xsd:annotation>
									<xsd:documentation>Výèet skladù, pro které se vyexportují data. Pokud není uveden, vyexportují se všechny data.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="createAccountingDoubleEntryType">
	<xsd:sequence minOccurs="1" maxOccurs="unbounded">
		<xsd:element name="createAccounting" type="lst:createAccountingType"/>
	</xsd:sequence>
	<xsd:attribute name="version" type="lst:createAccountingVerType" use="required"/>
</xsd:complexType>

<xsd:simpleType name="createAccountingVerType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="1.0"/>
		<xsd:enumeration value="1.1"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="listAddressBookRequestType">
	<xsd:sequence minOccurs="1" maxOccurs="unbounded">
		<xsd:element name="requestAddressBook" type="lst:requestAddressBookType"/>
	</xsd:sequence>
	<xsd:attribute name="version" type="lst:listAddressBookRequestVerType" use="required"/>
	<xsd:attribute name="addressBookVersion" type="adb:adbVersionType" use="required">
		<xsd:annotation>
			<xsd:documentation>Požadovaná verze dokladu.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="extSystem" type="typ:string64">
		<xsd:annotation>
			<xsd:documentation>Oznaèení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listAddressBookRequestVerType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="1.0"/>
		<xsd:enumeration value="1.1"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="listInvoiceRequestType">
	<xsd:sequence minOccurs="1" maxOccurs="unbounded">
		<xsd:element name="requestInvoice" type="lst:requestInvoiceType"/>
	</xsd:sequence>
	<xsd:attribute name="version" type="lst:listInvoiceRequestVerType" use="required"/>
	<xsd:attribute name="invoiceType" type="inv:invoiceTypeType" use="required"/>
	<xsd:attribute name="invoiceVersion" type="inv:invVersionType" use="required">
  	<xsd:annotation>
			<xsd:documentation>Požadovaná verze dokladu.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="extSystem" type="typ:string64">
		<xsd:annotation>
			<xsd:documentation>Oznaèení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listInvoiceRequestVerType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="1.0"/>
		<xsd:enumeration value="1.1"/>
		<xsd:enumeration value="1.2"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="listOrderRequestType">
	<xsd:sequence minOccurs="1" maxOccurs="unbounded">
		<xsd:element name="requestOrder" type="lst:requestOrderType"/>
	</xsd:sequence>
	<xsd:attribute name="version" type="lst:listOrderRequestVerType" use="required"/>
	<xsd:attribute name="orderType" type="ord:orderTypeType" use="required"/>
	<xsd:attribute name="orderVersion" type="ord:ordVersionType" use="required">
		<xsd:annotation>
			<xsd:documentation>Požadovaná verze dokladu.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="extSystem" type="typ:string64">
		<xsd:annotation>
			<xsd:documentation>Oznaèení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listOrderRequestVerType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="1.0"/>
		<xsd:enumeration value="1.1"/>
		<xsd:enumeration value="1.2"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="listOfferRequestType">
	<xsd:sequence minOccurs="1" maxOccurs="unbounded">
		<xsd:element name="requestOffer" type="lst:requestOfferType"/>
	</xsd:sequence>
	<xsd:attribute name="version" type="lst:listOfferRequestVerType" use="required"/>
	<xsd:attribute name="offerVersion" type="ofr:ofrVersionType" use="required">
		<xsd:annotation>
			<xsd:documentation>Požadovaná verze dokladu.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="extSystem" type="typ:string64">
		<xsd:annotation>
			<xsd:documentation>Oznaèení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listOfferRequestVerType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="1.0"/>
		<xsd:enumeration value="1.1"/>
		<xsd:enumeration value="1.2"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="listEnquiryRequestType">
	<xsd:sequence minOccurs="1" maxOccurs="unbounded">
		<xsd:element name="requestEnquiry" type="lst:requestEnquiryType"/>
	</xsd:sequence>
	<xsd:attribute name="version" type="lst:listEnquiryRequestVerType" use="required"/>
	<xsd:attribute name="enquiryVersion" type="enq:enqVersionType" use="required">
		<xsd:annotation>
			<xsd:documentation>Požadovaná verze dokladu.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="extSystem" type="typ:string64">
		<xsd:annotation>
			<xsd:documentation>Oznaèení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listEnquiryRequestVerType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="1.0"/>
		<xsd:enumeration value="1.1"/>
		<xsd:enumeration value="1.2"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="listVydejkaRequestType">
	<xsd:sequence minOccurs="1" maxOccurs="unbounded">
		<xsd:element name="requestVydejka" type="lst:requestVydejkaType"/>
	</xsd:sequence>
	<xsd:attribute name="version" type="lst:listVydejkaRequestVerType" use="required"/>
	<xsd:attribute name="vydejkaVersion" type="vyd:vydVersionType" use="required">
		<xsd:annotation>
			<xsd:documentation>Požadovaná verze výdejky.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="extSystem" type="typ:string64">
		<xsd:annotation>
			<xsd:documentation>Oznaèení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listVydejkaRequestVerType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="1.0"/>
		<xsd:enumeration value="1.1"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="listPrijemkaRequestType">
	<xsd:sequence minOccurs="1" maxOccurs="unbounded">
		<xsd:element name="requestPrijemka" type="lst:requestPrijemkaType"/>
	</xsd:sequence>
	<xsd:attribute name="version" type="lst:listPrijemkaRequestVerType" use="required"/>
	<xsd:attribute name="prijemkaVersion" type="pri:priVersionType" use="required">
		<xsd:annotation>
			<xsd:documentation>Požadovaná verze výdejky.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="extSystem" type="typ:string64">
		<xsd:annotation>
			<xsd:documentation>Oznaèení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listPrijemkaRequestVerType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="1.0"/>
		<xsd:enumeration value="1.1"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="listBalanceRequestType">
	<xsd:sequence>
		<xsd:element name="requestBalance" type="lst:requestBalanceType"/>
	</xsd:sequence>
	<xsd:attribute name="version" type="lst:listBalanceRequestVerType" use="required"/>
	<xsd:attribute name="balanceVersion" type="bal:balVersionType" use="required">
		<xsd:annotation>
			<xsd:documentation>Požadovaná verze dokladu.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="extSystem" type="typ:string64">
		<xsd:annotation>
			<xsd:documentation>Oznaèení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
</xsd:complexType>	

<xsd:simpleType name="listBalanceRequestVerType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="1.0"/>			
	</xsd:restriction>
</xsd:simpleType>

<!-- ****************************************************************************** -->

<xsd:complexType name="listCategoryRequestType">
	<xsd:sequence minOccurs="0">
		<xsd:element name="requestCategory" type="lst:requestCategoryType"/>
	</xsd:sequence>
	<xsd:attribute name="version" type="lst:listCategoryRequestVerType" use="required"/>
</xsd:complexType>	

<xsd:simpleType name="listCategoryRequestVerType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="1.0"/>			
	</xsd:restriction>
</xsd:simpleType>

<!-- ****************************************************************************** -->

<xsd:complexType name="listIntParamRequestType">
	<xsd:sequence minOccurs="0">
		<xsd:element name="requestIntParam" type="lst:requestIntParamType"/>
	</xsd:sequence>
	<xsd:attribute name="version" type="lst:listIntParamRequestVerType" use="required"/>
</xsd:complexType>

<xsd:simpleType name="listIntParamRequestVerType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="1.0"/>			
	</xsd:restriction>
</xsd:simpleType>

<!-- ****************************************************************************** -->
<xsd:complexType name="listCentreType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="itemCentre" type="lst:itemNameType"/>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listActivityType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="itemActivity" type="lst:itemNameType"/>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listContractType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="itemContract" type="lst:itemContractType"/>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listCashType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="itemCash" type="lst:itemCashType"/>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listAccountingSingleEntryType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="itemAccounting" type="lst:itemAccountingTypeSingleEntry" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listAccountingDoubleEntryType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="itemAccounting" type="lst:itemAccountingTypeDoubleEntry" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listStorageType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="itemStorage" type="lst:itemStorageType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listSellingPriceType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="itemSellingPrice" type="lst:itemSellingPriceType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listAccountType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="itemAccount" type="lst:itemAccountType"/>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listNumericSeriesType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="itemNumericSeries" type="lst:itemNumericSeriesType"/>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="createAccountingDoubleEntryResponseType">
	<xsd:sequence>
		<xsd:element name="importDetails" type="rdc:importDetailsType"	minOccurs="0"  maxOccurs="1"/>
		<xsd:element name="createAccountingResponse" type="lst:createAccountingResponseType" minOccurs="0" maxOccurs="unbounded"/>
	</xsd:sequence>
	<xsd:attribute name="state" type="typ:stavType2" use="required"/>
	<xsd:attribute name="version" type="xsd:string" use="required"/>
</xsd:complexType>

<xsd:complexType name="listStockType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="stock" type="stk:stockType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listAddressBookType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="addressbook" type="adb:addressbookType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listInvoiceType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="invoice" type="inv:invoiceType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listOrderType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="order" type="ord:orderType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listOfferType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="offer" type="ofr:offerType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listEnquiryType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="enquiry" type="enq:enquiryType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listVydejkaType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="vydejka" type="vyd:vydejkaType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listPrijemkaType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="prijemka" type="pri:prijemkaType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listBalanceType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="balance" type="bal:balanceType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listCategoryType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="categoryDetail" type="ctg:categoryDetailType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listIntParamType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="intParamDetail" type="ipm:intParamDetailType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="requestParameterType">
	<xsd:attribute name="idsAgenda" type="typ:parameterAgendaType" use="required"/>
	<xsd:attribute name="idsUserAgenda" type="typ:string10"/>
</xsd:complexType>

<xsd:complexType name="listParameterRequestType">
	<xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element name="requestParameter" type="lst:requestParameterType">
			<xsd:annotation>
				<xsd:documentation>Atributy urèují výbìr agend pro export parametrù. Pokud není zadán žádný, vyexportují se parametry všech agend.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
	<xsd:attribute name="version" type="lst:listParameterRequestVerType" use="required"/>
	<xsd:attribute name="parameterVersion" type="prm:prmVersionType" use="required">
		<xsd:annotation>
			<xsd:documentation>Požadovaná verze dokladu.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listParameterRequestVerType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="1.0"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="listParameterType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="parameter" type="prm:parameterType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="requestUserCodeType">
	<xsd:attribute name="code" type="xsd:string" use="required"/>
</xsd:complexType>

<xsd:complexType name="listUserCodeRequestType">
	<xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element name="requestUserCode" type="lst:requestUserCodeType">
			<xsd:annotation>
				<xsd:documentation>Atributy urèují výbìr uživatelských seznamù pro export. Pokud není zadán žádný, vyexportují se všechny uživatelské seznamy.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
	<xsd:attribute name="version" type="xsd:string" use="required"/>		<!-- 1.1 -->
	<xsd:attribute name="listVersion" type="xsd:string" use="required">
  	<xsd:annotation>
			<xsd:documentation>Požadovaná verze dokladu.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
</xsd:complexType>

<xsd:complexType name="listUserCodeType">
	<xsd:annotation>
		<xsd:documentation>Definice uživatelského seznamu.</xsd:documentation>
	</xsd:annotation>	
	<xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element name="itemUserCode" type="lst:itemNameType"/>
	</xsd:sequence>
	<xsd:attribute name="version" type="xsd:string" use="required"/>
  	<xsd:attribute name="dateTimeStamp" type="xsd:dateTime"/>
  	<xsd:attribute name="dateValidFrom" type="xsd:date"/>
  	<xsd:attribute name="state" type="typ:stavType2"/>
	<xsd:attribute name="id" type="typ:idType" use="required"/>
  	<xsd:attribute name="code" type="typ:idsType" use="required"/>
	<xsd:attribute name="name" type="xsd:string" use="required"/>
	<xsd:attribute name="constants" type="typ:boolean" default="false"/>
</xsd:complexType>

<xsd:complexType name="listUserCodePackType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="listUserCode" type="lst:listUserCodeType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<!-- **************************************************************************
		generic types
	 ************************************************************************** -->

<xsd:complexType name="listVersionType">
	<xsd:sequence>
	   <xsd:element name="importDetails"   type="rdc:importDetailsType"	minOccurs="0"/>
	</xsd:sequence>
  	<xsd:attribute name="version" type="xsd:string" use="required"/>
  	<xsd:attribute name="dateTimeStamp" type="xsd:dateTime" use="required"/>
  	<xsd:attribute name="dateValidFrom" type="xsd:date" use="required"/>
  	<xsd:attribute name="state" type="typ:stavType2" use="required"/>
</xsd:complexType>

<xsd:complexType name="itemType">
  	<xsd:attribute name="id" type="typ:idType" use="required"/>
  	<xsd:attribute name="code" type="typ:idsType" use="required"/>
</xsd:complexType>

<!-- **************************************************************************
		specific types
	 ************************************************************************** -->

<xsd:simpleType name="agendaType">
	<xsd:annotation>
		<xsd:documentation>Výèet agend, pro které se má seznam vyexportovat.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="cashReceived">
					<xsd:annotation><xsd:documentation>Pokladna pøíjem.</xsd:documentation></xsd:annotation></xsd:enumeration>
		<xsd:enumeration value="cashPaid">
					<xsd:annotation><xsd:documentation>Pokladna výdej.</xsd:documentation></xsd:annotation></xsd:enumeration>
		<xsd:enumeration value="internalDocument">
					<xsd:annotation><xsd:documentation>Interní doklady.</xsd:documentation></xsd:annotation></xsd:enumeration>
		<xsd:enumeration value="issuedInvoice">
					<xsd:annotation><xsd:documentation>Vydané faktury.</xsd:documentation></xsd:annotation></xsd:enumeration>
		<xsd:enumeration value="issuedAdvanceInvoice">
					<xsd:annotation><xsd:documentation>Vydané zálohové faktury.</xsd:documentation></xsd:annotation></xsd:enumeration>
		<xsd:enumeration value="claim">
					<xsd:annotation><xsd:documentation>Ostatní pohledávky.</xsd:documentation></xsd:annotation></xsd:enumeration>
		<xsd:enumeration value="receivedInvoice">
					<xsd:annotation><xsd:documentation>Pøijaté faktury.</xsd:documentation></xsd:annotation></xsd:enumeration>
		<xsd:enumeration value="receivedAdvanceInvoice">
					<xsd:annotation><xsd:documentation>Pøijaté zálohové faktury.</xsd:documentation></xsd:annotation></xsd:enumeration>
		<xsd:enumeration value="commitment">
					<xsd:annotation><xsd:documentation>Ostatní závazky.</xsd:documentation></xsd:annotation></xsd:enumeration>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="codeContractType">
	<xsd:annotation>
		<xsd:documentation>Øetìzcový identifikátor pøedkontace v podvojném úèetnictví.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="12"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="codeAccountingDoubleEntryType">
	<xsd:annotation>
		<xsd:documentation>Øetìzcový identifikátor zakázky.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="13"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="accountType">
	<xsd:annotation>
		<xsd:documentation>èíslo úètu (6 èíslic vèetnì analytiky).</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="6"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- **************************************************************************
		implementation
	 ************************************************************************** -->

<xsd:complexType name="itemNameType">
	<xsd:complexContent>
		<xsd:extension base="lst:itemType">
	  		<xsd:attribute name="name" type="xsd:string" use="required"/>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="itemContractType">
  	<xsd:attribute name="id" type="typ:idType" use="required"/>
  	<xsd:attribute name="code" type="lst:codeContractType" use="required"/>
	<xsd:attribute name="name" type="xsd:string" use="required"/>
</xsd:complexType>

<xsd:complexType name="itemCashType">
	<xsd:complexContent>
		<xsd:extension base="lst:itemType">
	  		<xsd:attribute name="codeCurrency" type="xsd:string" use="required"/>
	  		<xsd:attribute name="name" type="xsd:string"/>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="itemAccountingTypeSingleEntry">
	<xsd:complexContent>
		<xsd:extension base="lst:itemType">
	  		<xsd:attribute name="accounting" type="xsd:string" use="required"/>
	  		<xsd:attribute name="agenda" type="xsd:string" use="required"/>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="itemAccountingTypeDoubleEntry">
	<xsd:complexContent>
		<xsd:extension base="lst:createAccountingType">
		  	<xsd:attribute name="id" type="xsd:integer" use="required"/>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="itemAccountType">
  	<xsd:attribute name="id" type="typ:idType" use="required"/>
  	<xsd:attribute name="code" type="lst:accountType" use="required"/>
	<xsd:attribute name="name" type="xsd:string" use="required"/>
</xsd:complexType>


<xsd:complexType name="itemStorageType">
	<xsd:annotation>
		<xsd:documentation>Export - položky èlenìní skladù.</xsd:documentation>
	</xsd:annotation>
	<xsd:sequence>
		<xsd:element name="subStorages" type="lst:subStoragesType" minOccurs="0"/>
	</xsd:sequence>		
  	<xsd:attribute name="id" type="xsd:integer" use="required">
	  	<xsd:annotation>
				<xsd:documentation>ID záznamu, pokud zadaný uzel v seznamu èlenìní neexistuje obsahuje hodnotu "0".</xsd:documentation>
			</xsd:annotation>
	  </xsd:attribute>
  	<xsd:attribute name="code" type="xsd:string" use="required">
	  	<xsd:annotation>
				<xsd:documentation>Název skladu (první úroveò), název vìtve (další úrovnì).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="idStore" type="typ:idType">
	  	<xsd:annotation>
				<xsd:documentation>"//lst:listStorage/lst:itemStorage" (první "itemStorage") je název skladu, následují názvy vìtví.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>  	
		<xsd:attribute name="name" type="xsd:string">
	  	<xsd:annotation>
				<xsd:documentation>Název èlenìní.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="note" type="xsd:string">
	  	<xsd:annotation>
				<xsd:documentation>Poznámka.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
</xsd:complexType>

<xsd:complexType name="subStoragesType">
	<xsd:sequence>
		<xsd:element name="itemStorage" type="lst:itemStorageType" maxOccurs="unbounded"/>
	</xsd:sequence>
</xsd:complexType>

<!-- prodejní ceny -->
<xsd:complexType name="itemSellingPriceType">
	<xsd:sequence>
		<xsd:element name="id" type="typ:idType">
			<xsd:annotation>
				<xsd:documentation>ID prodejní ceny, na tuto hodnotu se lze odkazovat v seznamu prodejních cen.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
  	<xsd:element name="code" type="xsd:string">
  		<xsd:annotation>
				<xsd:documentation>Název prodejní ceny.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="name" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Popis prodejní ceny.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="discountValidity" type="discountValidityType" default="pernament">
			<xsd:annotation>
				<xsd:documentation>Platnost slevy resp. vedlejší ceny mùže být trvalá nebo èasovì omezená; v tom pøípadì uveïte data platnosti do polí od a do. 
					Platnost ceny lze také pozastavit, takže se nenabízí pøi výdeji.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="dateFrom" type="xsd:date" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Poèáteèní datum platnosti èasovì omezené prodejní ceny.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="dateTill" type="xsd:date" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Koncové datum platnosti èasovì omezené prodejní ceny.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="priceType" type="priceTypeType">
			<xsd:annotation>
				<xsd:documentation>Typ ceny.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="margin" type="typ:typePercentage" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Marže %. Uveïte pøirážku k nákupní cenì v procentech v pøípadì, že používáte tento zpùsob výpoètu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="rebate" type="typ:typePercentage" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Rabat %. Uveïte slevu v procentech v pøípadì, že používáte tento zpùsob výpoètu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="discountPercentage" type="typ:typePercentage" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Sleva v procentech sloužící pro výpoèet slevy ze základní prodejní ceny skladové zásoby.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>	  		
		<xsd:element name="calculation" type="calculationType" default="excludedVAT">
			<xsd:annotation>
				<xsd:documentation>Typ výpoètu. Zpùsob výpoètu ceny (s daní / bez danì) s ohledem na DPH.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="rounding" type="roundingType" default="0,1">
			<xsd:annotation>
				<xsd:documentation>Zaokrouhlení. Poèet desetinných míst zaokrouhlení (v Kè) pøi výpoètu ceny.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="currency" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Mìna.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="rate" type="xsd:float" minOccurs="0"> <!-- Kurs -->
			<xsd:annotation>
				<xsd:documentation>Kurs.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>	  		
	</xsd:sequence>
</xsd:complexType>

<!-- Platnost slevy -->
<xsd:simpleType name="discountValidityType">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="pernament">
			<xsd:annotation>
				<xsd:documentation>Trvalá.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="temporary">
			<xsd:annotation>
				<xsd:documentation>Èasovì omezená.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="suspended">
			<xsd:annotation>
				<xsd:documentation>Pozastavená.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
	</xsd:restriction>
</xsd:simpleType>

<!--  Typ ceny -->
<xsd:simpleType name="priceTypeType">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="basicPrice">
			<xsd:annotation>
				<xsd:documentation>Základní cena. Zvolte pøi vkládání základní prodejní ceny.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="accessoryPrice">
			<xsd:annotation>
				<xsd:documentation>Vedlejší cena. Zvolte pøi vkládání vedlejší slevy.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="discount">
			<xsd:annotation>
				<xsd:documentation>Sleva. Zvolte pøi vkládání prodejní slevy.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
	</xsd:restriction>
</xsd:simpleType>

<!-- Výpoèet ceny -->
<xsd:simpleType name="calculationType">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="excludedVAT">
			<xsd:annotation>
				<xsd:documentation>Bez danì.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="includedVAT">
			<xsd:annotation>
				<xsd:documentation>S daní.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
	</xsd:restriction>
</xsd:simpleType>

<!-- Zaokrouhlení -->
<xsd:simpleType name="roundingType">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="0,0001"/>
		<xsd:enumeration value="0,001"/>
		<xsd:enumeration value="0,01"/>
		<xsd:enumeration value="0,1"/>
		<xsd:enumeration value="1"/>
		<xsd:enumeration value="10"/>
		<xsd:enumeration value="100"/>
		<xsd:enumeration value="1000"/>
	</xsd:restriction>
</xsd:simpleType>
<!-- End Prodejní ceny  -->

<xsd:complexType name="itemNumericSeriesType">
	<xsd:complexContent>
		<xsd:extension base="lst:itemType">
			<xsd:attribute name="name" type="xsd:string" use="required"/>
	  		<xsd:attribute name="agenda" type="xsd:string" use="required"/>
	  		<xsd:attribute name="year" type="xsd:gYear" use="required"/>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="createAccountingType">
  	<xsd:attribute name="code" type="lst:codeAccountingDoubleEntryType" use="required"/>
	<xsd:attribute name="accounting" type="xsd:string" use="required"/>
	<xsd:attribute name="agenda" type="lst:agendaType" use="required"/>
	<xsd:attribute name="debit" type="lst:accountType" use="required"/>
	<xsd:attribute name="credit" type="lst:accountType" use="required"/>
</xsd:complexType>

<xsd:complexType name="createAccountingResponseType">
	<xsd:complexContent>
		<xsd:extension base="lst:itemAccountingTypeDoubleEntry">
	  		<xsd:attribute name="state" type="typ:stavType2" use="required"/>
		  	<xsd:attribute name="note" type="xsd:string"/>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="requestAddressBookType">
	<xsd:sequence>
		<xsd:element name="filterFields" type="lst:filterFieldsType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Seznam polí podle kterých se budou filtrovat adresy.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="userFilterName" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Identifikátor uživatelského filtru v požadované agendì, který má být použit pro filtraci záznamù.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
	<xsd:attribute name="id" type="typ:idType"/>
</xsd:complexType>

<xsd:complexType name="filterFieldsType">
	<xsd:all>
		<xsd:element name="fieldCity" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Filtr podle pole Obec.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="fieldRegion" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Filtr podle pole Kraj.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="fieldKey" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Filtr podle pole Klíèe.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="fieldGroup" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Filtr podle pole SKupiny.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="fieldP1" type="typ:boolean" minOccurs="0" default="false">
			<xsd:annotation>
				<xsd:documentation>Filtr podle pole P1.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="fieldP2" type="typ:boolean" minOccurs="0" default="false">
			<xsd:annotation>
				<xsd:documentation>Filtr podle pole P2.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="fieldP3" type="typ:boolean" minOccurs="0" default="false">
			<xsd:annotation>
				<xsd:documentation>Filtr podle pole P3.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="fieldP4" type="typ:boolean" minOccurs="0" default="false">
			<xsd:annotation>
				<xsd:documentation>Filtr podle pole P4.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="fieldP5" type="typ:boolean" minOccurs="0" default="false">
			<xsd:annotation>
				<xsd:documentation>Filtr podle pole P5.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="fieldP6" type="typ:boolean" minOccurs="0" default="false">
			<xsd:annotation>
				<xsd:documentation>Filtr podle pole P6.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:all>
</xsd:complexType>

<xsd:complexType name="requestInvoiceType">
	<xsd:sequence>
		<xsd:element name="dateFrom" type="xsd:date" minOccurs="0">
      	<xsd:annotation>
				<xsd:documentation>Datum od.</xsd:documentation>
			</xsd:annotation>
    	</xsd:element>
    	<xsd:element name="dateTill" type="xsd:date" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Datum do.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="userFilterName" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Identifikátor uživatelského filtru v požadované agendì, který má být použit pro filtraci záznamù.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="selectedNumbers" type="lst:selectedNumbersType" minOccurs="0"/>
		<xsd:element name="selectedCompanys" type="lst:selectedCompanysType" minOccurs="0"/>
		<xsd:element name="selectedIco" type="lst:selectedIcoType" minOccurs="0"/>
  </xsd:sequence> 
</xsd:complexType>

<xsd:complexType name="requestOrderType">
  <xsd:sequence>
	 <xsd:element name="dateFrom" type="xsd:date" minOccurs="0">
      <xsd:annotation>
				<xsd:documentation>Datum od.</xsd:documentation>
			</xsd:annotation>
    </xsd:element>
    <xsd:element name="dateTill" type="xsd:date" minOccurs="0">
      <xsd:annotation>
				<xsd:documentation>Datum do.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="userFilterName" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Identifikátor uživatelského filtru v požadované agendì, který má být použit pro filtraci záznamù.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="selectedNumbers" type="lst:selectedNumbersType" minOccurs="0"/>
		<xsd:element name="selectedCompanys" type="lst:selectedCompanysType" minOccurs="0"/>
		<xsd:element name="selectedIco" type="lst:selectedIcoType" minOccurs="0"/>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="requestOfferType">
  <xsd:sequence>
	  <xsd:element name="dateFrom" type="xsd:date" minOccurs="0">
      <xsd:annotation>
				<xsd:documentation>Datum od.</xsd:documentation>
			</xsd:annotation>
    </xsd:element>
    <xsd:element name="dateTill" type="xsd:date" minOccurs="0">
      <xsd:annotation>
				<xsd:documentation>Datum do.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="userFilterName" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Identifikátor uživatelského filtru v požadované agendì, který má být použit pro filtraci záznamù.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="selectedNumbers" type="lst:selectedNumbersType" minOccurs="0"/>
		<xsd:element name="selectedCompanys" type="lst:selectedCompanysType" minOccurs="0"/>
		<xsd:element name="selectedIco" type="lst:selectedIcoType" minOccurs="0"/>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="requestEnquiryType">
  <xsd:sequence>
	  <xsd:element name="dateFrom" type="xsd:date" minOccurs="0">
      <xsd:annotation>
				<xsd:documentation>Datum od.</xsd:documentation>
			</xsd:annotation>
    </xsd:element>
    <xsd:element name="dateTill" type="xsd:date" minOccurs="0">
      <xsd:annotation>
				<xsd:documentation>Datum do.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="userFilterName" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Identifikátor uživatelského filtru v požadované agendì, který má být použit pro filtraci záznamù.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="selectedNumbers" type="lst:selectedNumbersType" minOccurs="0"/>
		<xsd:element name="selectedCompanys" type="lst:selectedCompanysType" minOccurs="0"/>
		<xsd:element name="selectedIco" type="lst:selectedIcoType" minOccurs="0"/>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="requestVydejkaType">
  <xsd:sequence>
	  <xsd:element name="dateFrom" type="xsd:date" minOccurs="0">
      <xsd:annotation>
				<xsd:documentation>Datum od.</xsd:documentation>
			</xsd:annotation>
    </xsd:element>
    <xsd:element name="dateTill" type="xsd:date" minOccurs="0">
      <xsd:annotation>
				<xsd:documentation>Datum do.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="userFilterName" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Identifikátor uživatelského filtru v požadované agendì, který má být použit pro filtraci záznamù.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="selectedNumbers" type="lst:selectedNumbersType" minOccurs="0"/>
		<xsd:element name="selectedCompanys" type="lst:selectedCompanysType" minOccurs="0"/>
		<xsd:element name="selectedIco" type="lst:selectedIcoType" minOccurs="0"/>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="requestPrijemkaType">
  <xsd:sequence>
	  <xsd:element name="dateFrom" type="xsd:date" minOccurs="0">
      <xsd:annotation>
				<xsd:documentation>Datum od.</xsd:documentation>
			</xsd:annotation>
    </xsd:element>
    <xsd:element name="dateTill" type="xsd:date" minOccurs="0">
      <xsd:annotation>
				<xsd:documentation>Datum do.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="userFilterName" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Identifikátor uživatelského filtru v požadované agendì, který má být použit pro filtraci záznamù.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="selectedNumbers" type="lst:selectedNumbersType" minOccurs="0"/>
		<xsd:element name="selectedCompanys" type="lst:selectedCompanysType" minOccurs="0"/>
		<xsd:element name="selectedIco" type="lst:selectedIcoType" minOccurs="0"/>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="selectedNumbersType">
  <xsd:sequence>
    <xsd:element name="number" type="typ:numberType" maxOccurs="unbounded">
    	<xsd:annotation>
    		<xsd:documentation>Evidenèní èíslo dokladu.</xsd:documentation>
    	</xsd:annotation>
  	</xsd:element>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="selectedCompanysType">
  <xsd:sequence>
    <xsd:element name="company" type="typ:stringCompany" maxOccurs="unbounded">
    	<xsd:annotation>
    		<xsd:documentation>Firma</xsd:documentation>
    	</xsd:annotation>
  	</xsd:element>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="selectedIcoType">
  <xsd:sequence>
    <xsd:element name="ico" type="typ:icoType" maxOccurs="unbounded">
    	<xsd:annotation>
    		<xsd:documentation>ICO</xsd:documentation>
    	</xsd:annotation>
  	</xsd:element>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="requestBalanceType">
	<xsd:sequence>
		<xsd:element name="dateTo" type="xsd:date" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Datum ke kterému je saldo sestaveno. Pokud není zadáno je použit aktuální datum.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="adjustTo" type="xsd:double" minOccurs="0" default="0.01">
			<xsd:annotation>
				<xsd:documentation>Hodnota, ke které je saldo vyrovnáno.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="groupByDoc" type="typ:boolean" minOccurs="0" default="true">
			<xsd:annotation>
				<xsd:documentation>Sestavit salda s kumulováním po dokladech.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="removeBalancedRec" type="typ:boolean" minOccurs="0" default="true">
			<xsd:annotation>
				<xsd:documentation>Odstranit záznamy vyrovnaného salda.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="pairing" type="lst:listBalancePairingType">
			<xsd:annotation>
				<xsd:documentation>Zpùsob párování.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="userFilterName" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Identifikátor uživatelského filtru v požadované agendì, který má být použit pro filtraci záznamù.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>		
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="requestCategoryType">
</xsd:complexType>

<xsd:complexType name="requestIntParamType">
</xsd:complexType>

<xsd:simpleType name="listBalancePairingType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="PairingSymbol">
			<xsd:annotation>
				<xsd:documentation>Párovat dle párovacího symbolu.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="PairingSymbolIC">
			<xsd:annotation>
				<xsd:documentation>Párovat dle párovacího symbolu a IÈ.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>		
	</xsd:restriction>
</xsd:simpleType>

</xsd:schema>
