modules/sis-sync/src/main/resources/xsd/order.xsd

<?xml version="1.0" encoding="Windows-1250"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:typ="http://www.stormware.cz/schema/type.xsd"
			xmlns:rdc="http://www.stormware.cz/schema/documentresponse.xsd"
			xmlns:ord="http://www.stormware.cz/schema/order.xsd"
			xmlns="http://www.stormware.cz/schema/order.xsd"
			targetNamespace="http://www.stormware.cz/schema/order.xsd"
			elementFormDefault="qualified"
>

<xsd:import namespace="http://www.stormware.cz/schema/type.xsd" schemaLocation="type.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/documentresponse.xsd" 	schemaLocation="documentresponse.xsd"/>

<!-- **************************************************************************
		root element must be <order>
	 ************************************************************************** -->

<!-- REQUEST -->
	 
<xsd:element name="order" type="ord:orderType"/>

<!-- **************************************************************************
		order
	 ************************************************************************** -->

<xsd:complexType name="orderType">
	<xsd:sequence minOccurs="1" maxOccurs="1">
		<xsd:element name="orderHeader" type="ord:orderHeaderType"/>
		<xsd:element name="orderDetail" type="ord:orderDetailType" minOccurs="0"/>
		<xsd:element name="orderSummary" type="ord:orderSummaryType" minOccurs="0"/>
	</xsd:sequence>
	<xsd:attribute name="version" type="ord:ordVersionType" use="required"/>
</xsd:complexType>

<xsd:simpleType name="ordVersionType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="1.0"/>
		<xsd:enumeration value="1.1"/>
		<xsd:enumeration value="1.3"/>
		<xsd:enumeration value="1.4"/>
		<xsd:enumeration value="1.5"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="orderHeaderType">
	<xsd:sequence>
		<xsd:element name="id" type="typ:idType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>ID záznamu. Používá se pøi requestu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="orderType" type="ord:orderTypeType">
			<xsd:annotation>
				<xsd:documentation>Typ objednávky.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="number" type="typ:numberType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Evidenèní èíslo dokladu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="numberOrder" type="typ:documentNumberType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Èíslo objednávky na jejímž základì byla faktura vystavena. Jen pøijaté objednávky.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="date" type="xsd:date">
			<xsd:annotation>
				<xsd:documentation>Datum vystavení / Datum zápisu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="dateDelivery" type="xsd:date" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Datum dodání. Jen vydané objednávky.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="dateFrom" type="xsd:date" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Vyøídit od. Jen pøijaté objednávky.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="dateTo" type="xsd:date" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Vyøídit do. Jen pøijaté objednávky.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="text" type="typ:string240" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Text dokladu</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="partnerIdentity" type="typ:address">
		  <xsd:annotation>
				<xsd:documentation>Zákazníkova adresa</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="myIdentity" type="typ:myAddress" minOccurs="0">
		  <xsd:annotation>
				<xsd:documentation>Osobní adresa.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>	
		<xsd:element name="paymentType" type="typ:paymentType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Forma úhrady. Implicitnì je nastaveno 'pøíkazem'.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="priceLevel" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Cenová hladinu odbìratele. Jen pøijaté objednávky.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>		
		<xsd:element name="isExecuted" type="typ:boolean" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Vyøízeno. Používá se jen pøi exportu dokladu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="isDelivered" type="typ:boolean" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Dodáno. Používá se jen pøi exportu dokladu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>		
		<xsd:element name="isReserved" type="typ:boolean" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Rezervováno. Používá se jen pøi exportu dokladu. Jen pøijaté objednávky.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="iShop" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Odkaz na typ internetového obchodu. Používá se jen pøi exportu dokladu. Jen pøijaté objednávky.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="iShopName" type="typ:string35" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Odkaz na internetový obchod. Používá se jen pøi exportu dokladu. Jen pøijaté objednávky.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="dateCancellation" type="xsd:date" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Datum stornování dokladu. Používá se jen pøi exportu dokladu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="centre" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Støedisko.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="activity" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Èinnost.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="contract" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Zakázka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="note" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Poznámka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="intNote" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Interní poznámka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="parameter" type="typ:parameterDocType" minOccurs="0" maxOccurs="64">
			<xsd:annotation>
				<xsd:documentation>Volitelný parametr.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>
		
<xsd:complexType name="orderDetailType">
	<xsd:sequence>
		<xsd:element name="orderItem" type="ord:orderItemType" maxOccurs="unbounded"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="orderSummaryType">
	<xsd:sequence>
   	<xsd:element name="roundingDocument" type="typ:typeRoundingDocument" minOccurs="0">
    		<xsd:annotation>
    			<xsd:documentation>Zaokrouhlení celkové èástky dokladu.</xsd:documentation>
    		</xsd:annotation>
    	</xsd:element>
    	<xsd:element name="roundingVAT" type="typ:typeRoundingVAT" minOccurs="0">
    		<xsd:annotation>
    			<xsd:documentation>Zaokrouhlení DPH.</xsd:documentation>
    		</xsd:annotation>
    	</xsd:element>
		<xsd:element name="homeCurrency" type="typ:typeCurrencyHome" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Kè.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	   <xsd:element name="foreignCurrency" type="typ:typeCurrencyForeign" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Cizí mìna.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="orderItemType">
	<xsd:sequence>
		<xsd:element name="text" type="typ:string90" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Text položky.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	  	<xsd:element name="quantity" type="xsd:float" minOccurs="0">
	  		<xsd:annotation>
	  			<xsd:documentation>Množství.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
	  	<xsd:element name="delivered" type="xsd:float" minOccurs="0">
	  		<xsd:annotation>
	  			<xsd:documentation>Dodáno.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
	  	<xsd:element name="unit" type="typ:unitType" minOccurs="0">
	  		<xsd:annotation>
	  			<xsd:documentation>Mìrná jednotka.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
	  	<xsd:element name="coefficient" type="xsd:float" minOccurs="0" default="1.0">
	  		<xsd:annotation>
	  			<xsd:documentation>Koeficient.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
	  	<xsd:element name="payVAT" type="typ:boolean" minOccurs="0" default="false">
	  		<xsd:annotation>
	  			<xsd:documentation>Ceny jsou uvedeny: bez DPH, vèetnì DPH.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
	    <xsd:element name="rateVAT" type="typ:vatRateType" minOccurs="0" default="none">
	  		<xsd:annotation>
	  			<xsd:documentation>Sazba DPH.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
	  	<xsd:element name="discountPercentage" type="typ:typePercentage" minOccurs="0" default="0">
	  		<xsd:annotation>
	  			<xsd:documentation>Sleva v procentech. Pokud není uvedena, bere se jako hodnota slevy z priceLevel dokumentu. Pokud není definován ani priceLevel bere se jako NULOVÁ.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
	  	<xsd:element name="homeCurrency" type="typ:typeCurrencyHomeItem" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Kè.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="foreignCurrency" type="typ:typeCurrencyForeignItem" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Cizí mìna.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	    <xsd:element name="note" type="typ:string90" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Poznámka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="code" type="typ:stockIdsType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Kód.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="stockItem" type="typ:stockItemType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Údaje potøebné k nalezní skladové zásoby vložené do položky. Pokud zde tento element není, jedná se o textovou položku.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="centre" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Støedisko.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="activity" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Èinnost.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="contract" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Zakázka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="parameter" type="typ:parameterDocType" minOccurs="0" maxOccurs="64">
			<xsd:annotation>
				<xsd:documentation>Volitelný parametr.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<!-- Typ objednávky                                      -->
<xsd:simpleType name="orderTypeType">
	<xsd:annotation>
		<xsd:documentation>Typ objednávky.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="issuedOrder">
			<xsd:annotation>
				<xsd:documentation>Vydaná objednávka.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="receivedOrder">
			<xsd:annotation>
				<xsd:documentation>Pøijatá objednávka.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
	</xsd:restriction>
</xsd:simpleType>


<!-- RESPONSE -->

<xsd:element name="orderResponse" type="ord:orderResponseType"/>

<xsd:complexType name="orderResponseType">
	<xsd:complexContent>
		<xsd:extension  base="rdc:documentResponseType"/>
	</xsd:complexContent>
</xsd:complexType>

</xsd:schema>
