modules/sis-sync/src/main/resources/xsd/type.xsd

<?xml version="1.0" encoding="Windows-1250"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:typ="http://www.stormware.cz/schema/type.xsd"
			xmlns="http://www.stormware.cz/schema/type.xsd"
			targetNamespace="http://www.stormware.cz/schema/type.xsd"
			elementFormDefault="qualified"
>

<!-- **************************************************************************
		common types
	 ************************************************************************** -->
<xsd:simpleType name="string6">
	<xsd:annotation>
		<xsd:documentation>Øetìzec o délce 6 znakù.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="6"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string7">
	<xsd:annotation>
		<xsd:documentation>Øetìzec o délce 7 znakù.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="7"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string8">
	<xsd:annotation>
		<xsd:documentation>Øetìzec o délce 8 znakù.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="8"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string10">
	<xsd:annotation>
		<xsd:documentation>Øetìzec o délce 10 znakù.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="10"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string11">
	<xsd:annotation>
		<xsd:documentation>Øetìzec o délce 11 znakù.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="11"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string12">
	<xsd:annotation>
		<xsd:documentation>Øetìzec o délce 12 znakù.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="12"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string16">
	<xsd:annotation>
		<xsd:documentation>Øetìzec o délce 16 znakù.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="16"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string18">
	<xsd:annotation>
		<xsd:documentation>Øetìzec o délce 18 znakù.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="18"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string24">
	<xsd:annotation>
		<xsd:documentation>Øetìzec o délce 24 znakù.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="24"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string32">
	<xsd:annotation>
		<xsd:documentation>Øetìzec o délce 32 znakù.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="32"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string34">
	<xsd:annotation>
		<xsd:documentation>Øetìzec o délce 34 znakù.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="34"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string35">
	<xsd:annotation>
		<xsd:documentation>Øetìzec o délce 35 znakù.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="35"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string40">
	<xsd:annotation>
		<xsd:documentation>Øetìzec o délce 40 znakù.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="40"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string48">
	<xsd:annotation>
		<xsd:documentation>Øetìzec o délce 48 znakù.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="48"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string64">
	<xsd:annotation>
		<xsd:documentation>Øetìzec o délce 64 znakù.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="64"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string90">
	<xsd:annotation>
		<xsd:documentation>Øetìzec o délce 90 znakù.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="90"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string100">
	<xsd:annotation>
		<xsd:documentation>Øetìzec o délce 100 znakù.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="100"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string255">
	<xsd:annotation>
		<xsd:documentation>Øetìzec o délce 255 znakù.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="255"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="stringCompany">
	<xsd:annotation>
		<xsd:documentation>Øetìzec o délce 96 znakù.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="96"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string240">
	<xsd:annotation>
		<xsd:documentation>Øetìzec o délce 240 znakù.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="240"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="boolean">
	<xsd:annotation>
		<xsd:documentation>Logická hodnota ("true", "false").</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="true"/>
		<xsd:enumeration value="false"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="idType">
	<xsd:annotation>
		<xsd:documentation>ID záznamu používané Pohodou. Automaticky generovaná hodnota.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:integer">
		<xsd:minInclusive value="1"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="idsType">
	<xsd:annotation>
		<xsd:documentation>Øetìzcový identifikátor záznamu.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="13"/>
	</xsd:restriction>
</xsd:simpleType>
	
<xsd:simpleType name="idsTypeLong">
	<xsd:annotation>
		<xsd:documentation>Dlouhý øetìzcový identifikátor záznamu.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="80"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="sexType">
	<xsd:annotation>
		<xsd:documentation>Muž / Žena / Nezjištìno(jen v CZ).</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="man"/>
		<xsd:enumeration value="woman"/>
		<xsd:enumeration value="unknown"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="rectangle">
	<xsd:attribute name="left" type="xsd:integer" use="required"/>
	<xsd:attribute name="top" type="xsd:integer" use="required"/>
	<xsd:attribute name="right" type="xsd:integer" use="required"/>
	<xsd:attribute name="bottom" type="xsd:integer" use="required"/>
</xsd:complexType>

<xsd:complexType name="stockItemType">
	<xsd:annotation>
		<xsd:documentation>Údaje skladové zásoby vložené do položky dokladu</xsd:documentation>
	</xsd:annotation>
	<xsd:sequence>
		<xsd:element name="store" type="typ:refType" minOccurs="0">
  			<xsd:annotation>
  				<xsd:documentation>Sklad.</xsd:documentation>
  			</xsd:annotation>
  		</xsd:element>
		<xsd:element name="stockItem" type="typ:stockRefType">
			<xsd:annotation>
				<xsd:documentation>Odkaz na skladovou položku.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
  		<xsd:element name="serialNumber" type="typ:serialNumberType" minOccurs="0">
  			<xsd:annotation>
  				<xsd:documentation>Výrobní èíslo.</xsd:documentation>
  			</xsd:annotation>
  		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="stockIdsType">
	<xsd:annotation>
		<xsd:documentation>Øetìzcový identifikátor skladové položky.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="64"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="stockPriceType">
	<xsd:sequence>
		<xsd:element name="id" type="typ:idType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Odkaz na ID v SKzCn.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="ids" type="typ:idsType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Název ceny. IDS v SKzCn.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="price" type="typ:currencyType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Cena zásoby.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="numberType">
	<xsd:sequence>
		<xsd:element name="id" type="typ:idType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Odkaz na èíselnou øadu. Vyšší prioritu má elemet "id".</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="ids" type="typ:idsType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Prefix èíselné øady.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="numberRequested" minOccurs="0">
      <xsd:complexType>
        <xsd:simpleContent>
          <xsd:extension base="typ:string10">
            <xsd:attribute name="checkDuplicity" type="typ:boolean" default="true">
              <xsd:annotation>
        				<xsd:documentation>Pokud hodnota nastavená na'true', nedovolí se vytvoøit doklad, pokud zadané èíslo již existuje. 
                                  Pokud je hodnota 'false', doklad se vytvoøí s upraveným èíslem (do response se zapíše warning).</xsd:documentation>
        			</xsd:annotation>
            </xsd:attribute>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
    </xsd:element>		
	</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="documentNumberType">
	<xsd:annotation>
		<xsd:documentation>Èíslo dokladu.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="16"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="serialNumberType">
	<xsd:annotation>
		<xsd:documentation>Výrobní èíslo.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="40"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="companyType">
	<xsd:sequence>
		<xsd:element name="id" type="typ:idType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Odkaz na adresu. Vyšší prioritu má elemet "id".</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="company" type="typ:stringCompany" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Název firmy.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="icoType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="15"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="dicType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="18"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="bankCodeType">
	<xsd:annotation>
		<xsd:documentation>Kód banky/SWIFT.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="11"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="symVarType">
	<xsd:annotation>
		<xsd:documentation>Variabilni symbol.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="20"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="symConstType">
	<xsd:annotation>
		<xsd:documentation>Konstantni symbol.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="20"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="unitType">
	<xsd:annotation>
		<xsd:documentation>Mìrná jednotka.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="10"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="symSpecType">
	<xsd:annotation>
		<xsd:documentation>Specificky symbol.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="20"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- ****** adresa ******             -->
<xsd:complexType name="address">
	<xsd:sequence>
		<xsd:element name="id" type="typ:idType" minOccurs="0" maxOccurs="1">
			<xsd:annotation>
				<xsd:documentation>Odkaz na entitu. Vyšší prioritu má elemet "id".</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="extId" type="typ:extIdType" minOccurs="0" maxOccurs="1">
			<xsd:annotation>
				<xsd:documentation>Odkaz na záznam v externí databázi. V databázi se nachází speciální tabulka obsahující 
					vazbu mezi agendou a externí databází.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="address" type="typ:addressType" minOccurs="0" maxOccurs="1"/>
		<xsd:element name="shipToAddress" type="typ:shipToAddressType" minOccurs="0" maxOccurs="1"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="addressType">
	<xsd:annotation>
		<xsd:documentation>Adresa.</xsd:documentation>
	</xsd:annotation>
   <xsd:sequence>
		<xsd:element name="company" type="typ:stringCompany" minOccurs="0"/>
		<xsd:element name="division" type="typ:string32" minOccurs="0"/>
		<xsd:element name="name" type="typ:string32" minOccurs="0"/>		
		<xsd:element name="city" type="typ:string35" minOccurs="0"/>
		<xsd:element name="street" type="typ:string64" minOccurs="0"/>
		<xsd:element name="zip" type="typ:string6" minOccurs="0"/>
		<xsd:element name="ico" type="typ:icoType" minOccurs="0"/>
		<xsd:element name="dic" type="typ:dicType" minOccurs="0"/>
		<xsd:element name="country" type="typ:refType" minOccurs="0"/>
		<xsd:element name="phone" type="typ:string40" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Podporováno pouze u objednávek a nabídek.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="fax" type="typ:string24" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Podporováno pouze u objednávek a nabídek.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="shipToAddressType">
	<xsd:annotation>
		<xsd:documentation>Dodací adresa.</xsd:documentation>
	</xsd:annotation>
   <xsd:sequence>
		<xsd:element name="company" type="typ:stringCompany" minOccurs="0"/>
		<xsd:element name="division" type="typ:string32" minOccurs="0"/>
		<xsd:element name="name" type="typ:string32" minOccurs="0"/>		
		<xsd:element name="city" type="typ:string35" minOccurs="0"/>
		<xsd:element name="street" type="typ:string64" minOccurs="0"/>
		<xsd:element name="zip" type="typ:string6" minOccurs="0"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="myAddress">
	<xsd:sequence>
		<xsd:element name="address" type="typ:addressInternetType"/>
		<xsd:element name="establishment" type="typ:establishmentType" minOccurs="0"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="addressInternetType">
	<xsd:annotation>
		<xsd:documentation>Adresa úèetní jednotky.</xsd:documentation>
	</xsd:annotation>
	<xsd:sequence>
		<xsd:element name="company" type="typ:stringCompany" minOccurs="0"/>
		<xsd:element name="title" type="typ:string7" minOccurs="0"/>
		<xsd:element name="surname" type="typ:string32" minOccurs="0"/>
		<xsd:element name="name" type="typ:string32" minOccurs="0"/>
		<xsd:element name="city" type="typ:string35" minOccurs="0"/>
		<xsd:element name="street" type="typ:string64" minOccurs="0"/>
		<xsd:element name="number" type="typ:string10" minOccurs="0"/>
		<xsd:element name="zip" type="typ:string6" minOccurs="0"/>
		<xsd:element name="ico" type="typ:icoType" minOccurs="0"/>
	  	<xsd:element name="dic" type="typ:dicType" minOccurs="0"/>
	  	<xsd:element name="phone" type="typ:string40" minOccurs="0"/>
	  	<xsd:element name="mobilPhone" type="typ:string24" minOccurs="0"/>
	  	<xsd:element name="fax" type="typ:string24" minOccurs="0"/>
		<xsd:element name="email" type="typ:string64" minOccurs="0"/>
		<xsd:element name="www" type="typ:string32" minOccurs="0"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="establishmentType">
	<xsd:annotation>
		<xsd:documentation>Adresa provozovny úèetní jednotky.</xsd:documentation>
	</xsd:annotation>
	<xsd:sequence>
		<xsd:element name="company" type="typ:stringCompany" minOccurs="0"/>
		<xsd:element name="city" type="typ:string35" minOccurs="0"/>
		<xsd:element name="street" type="typ:string64" minOccurs="0"/>
		<xsd:element name="zip" type="typ:string6" minOccurs="0"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="extIdType">
	<xsd:sequence>
		<xsd:element name="ids" type="typ:string64">
			<xsd:annotation>
				<xsd:documentation>ID záznamu v externím systému, jedineèný textový identifikátor.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="exSystemName" type="typ:string64">
			<xsd:annotation>
				<xsd:documentation>Jedineèný název externího systému (napø. GUID).</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="exSystemText" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Textový popis externího systému.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="accountType">
	<xsd:annotation>
		<xsd:documentation>Úèet kam zaplatit.</xsd:documentation>
	</xsd:annotation>
	<xsd:sequence>	
		<xsd:element name="id" type="typ:idType" minOccurs="0" maxOccurs="1"/>
		<xsd:element name="ids" type="typ:idsType" minOccurs="0" maxOccurs="1"/>
		<xsd:group ref="typ:myGroupOfAccount" minOccurs="0" maxOccurs="1"/>
	</xsd:sequence>
</xsd:complexType>
  	
<xsd:group name="myGroupOfAccount">
	<xsd:sequence>
	  	<xsd:element name="accountNo" type="typ:string34"/>
	  	<xsd:element name="bankCode" type="typ:bankCodeType"/>
	</xsd:sequence>
</xsd:group>

<xsd:complexType name="refType">
	<xsd:annotation>
		<xsd:documentation>Odkaz na entitu. Vyšší prioritu má element "id".</xsd:documentation>
	</xsd:annotation>
	<xsd:sequence>
		<xsd:element name="id" type="typ:idType" minOccurs="0" maxOccurs="1"/>
		<xsd:element name="ids" type="typ:idsType" minOccurs="0" maxOccurs="1"/>
		<xsd:element name="valueType" minOccurs="0" maxOccurs="1">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">				
					<xsd:enumeration value="nullValue">
						<xsd:annotation>
							<xsd:documentation>Hodnota reprezentuje prázdnou (NULL) hodnotu.</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>			
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="refTypeLong">
	<xsd:annotation>
		<xsd:documentation>Odkaz na entitu. Vyšší prioritu má elemet "id".</xsd:documentation>
	</xsd:annotation>
	<xsd:sequence>
		<xsd:element name="id" type="typ:idType" minOccurs="0" maxOccurs="1"/>
		<xsd:element name="ids" type="typ:idsTypeLong"  minOccurs="0" maxOccurs="1" />			
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="refTypeStorage">
	<xsd:annotation>
		<xsd:documentation>Odkaz na entitu. Vyšší prioritu má elemet "id".</xsd:documentation>
	</xsd:annotation>
	<xsd:sequence>
		<xsd:element name="id" type="typ:idType" minOccurs="0" maxOccurs="1"/>
		<xsd:element name="ids" type="xsd:string" minOccurs="0" maxOccurs="1"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="accountingType">
	<xsd:annotation>
		<xsd:documentation>Odkaz na entitu. Vyšší prioritu má elemet "id", dále "ids."</xsd:documentation>
	</xsd:annotation>
	<xsd:sequence>
		<xsd:element name="id" type="typ:idType" minOccurs="0" maxOccurs="1">
			<xsd:annotation>
				<xsd:documentation>ID záznamu pøedkontace.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="ids" type="typ:idsType" minOccurs="0" maxOccurs="1">
			<xsd:annotation>
				<xsd:documentation>Zkratka pøedkontace.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="accountingType" minOccurs="0" maxOccurs="1">
			<xsd:annotation>
				<xsd:documentation>Pevné typy pøedkontací.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="withoutAccounting">
						<xsd:annotation>
							<xsd:documentation>Pøedkontace 'Bez'. Doklad bez zaúètování. Jen v podvojném úèetnictví.</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="classificationVATType">
	<xsd:annotation>
		<xsd:documentation>Odkaz na entitu. Vyšší prioritu má elemet "id", dále "ids".</xsd:documentation>
	</xsd:annotation>
	<xsd:sequence>
		<xsd:element name="id" type="typ:idType" minOccurs="0" maxOccurs="1">
			<xsd:annotation>
				<xsd:documentation>ID záznamu èlenìní.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="ids" type="typ:idsType" minOccurs="0" maxOccurs="1">
			<xsd:annotation>
				<xsd:documentation>Zkratka èlenìní DPH.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="classificationVATType" minOccurs="0" maxOccurs="1" default="inland">
			<xsd:annotation>
				<xsd:documentation>Typ èlenìní.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="inland">
						<xsd:annotation>
							<xsd:documentation>Tuzemske plneni.</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="nonSubsume">
						<xsd:annotation>
							<xsd:documentation>Nezahrnovat do DPH.</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="paymentType">
	<xsd:annotation>
		<xsd:documentation>Odkaz na entitu. Vyšší prioritu má elemet "id", dále "ids".</xsd:documentation>
	</xsd:annotation>
	<xsd:sequence>
		<xsd:element name="id" type="typ:idType" minOccurs="0" maxOccurs="1"/>
		<xsd:element name="ids" type="typ:idsType" minOccurs="0" maxOccurs="1"/>
		<xsd:element name="paymentType" minOccurs="0" maxOccurs="1">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="draft">
						<xsd:annotation>
							<xsd:documentation>Pøíkazem.</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="cash">
						<xsd:annotation>
							<xsd:documentation>Hotovì.</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="postal">
						<xsd:annotation>
							<xsd:documentation>Složenkou.</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="delivery">
						<xsd:annotation>
							<xsd:documentation>Dobírka.</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="creditcard">
						<xsd:annotation>
							<xsd:documentation>Platební kartou.</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="advance">
						<xsd:annotation>
							<xsd:documentation>Zálohová faktura.</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="encashment">
						<xsd:annotation>
							<xsd:documentation>Inkasem.</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="cheque">
						<xsd:annotation>
							<xsd:documentation>Šekem.</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="compensation">
						<xsd:annotation>
							<xsd:documentation>Zápoètem.</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="stockRefType">
	<xsd:annotation>
		<xsd:documentation>Odkaz na skladovou položku. Buï pøes ID nebo pøes IDS, EAN, PLU. Nejvyšší prioritu má elemet "id".</xsd:documentation>
	</xsd:annotation>
	<xsd:sequence>
		<xsd:element name="id" type="typ:idType" minOccurs="0" maxOccurs="1"/>
		<xsd:element name="ids" type="typ:stockIdsType" minOccurs="0" maxOccurs="1"/>
		<xsd:element name="EAN" minOccurs="0" maxOccurs="1">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="20"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="PLU" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="vatRateType">
	<xsd:annotation>
		<xsd:documentation>Výèet možných sazeb DPH.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="high">
			<xsd:annotation>
				<xsd:documentation>Základní sazba.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="low">
			<xsd:annotation>
				<xsd:documentation>Snížená sazba.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="none">
			<xsd:annotation>
				<xsd:documentation>Bez DPH.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="currencyType">
	<xsd:annotation>
		<xsd:documentation>Typ pro uchovávání finanèních hodnot.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:double"></xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="guaranteeTypeType">
	<xsd:annotation>
		<xsd:documentation>Typ záruky.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="none">
			<xsd:annotation>
				<xsd:documentation>Bez záruky.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="hour" >
			<xsd:annotation>
				<xsd:documentation>Záruka je uvedena v hodinách.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="day">
			<xsd:annotation>
				<xsd:documentation>Záruka je uvedena v dnech.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="month">
			<xsd:annotation>
				<xsd:documentation>Záruka je uvedena v mìsících.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="year">
			<xsd:annotation>
				<xsd:documentation>Záruka je uvedena v rocích.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="life">
			<xsd:annotation>
				<xsd:documentation>Doživotní záruka.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="typeRoundingDocument">
	<xsd:annotation>
		<xsd:documentation>Zaokrouhlení dokladu.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
	  <xsd:enumeration value="none">
			<xsd:annotation>
				<xsd:documentation>Doklad nezaokrouhlovat</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="math2one">
			<xsd:annotation>
				<xsd:documentation>Zaokrouhlení matematicky na koruny.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="math2half">
			<xsd:annotation>
				<xsd:documentation>Zaokrouhlení matematicky na padesátníky.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="math2tenth">
			<xsd:annotation>
				<xsd:documentation>Zaokrouhlení matematicky na desetníky.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="up2one">
			<xsd:annotation>
				<xsd:documentation>Zaokrouhlení nahoru na koruny.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="up2half">
			<xsd:annotation>
				<xsd:documentation>Zaokrouhlení nahoru na padesátníky.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="up2tenth">
			<xsd:annotation>
				<xsd:documentation>Zaokrouhlení nahoru na desetníky.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="down2one">
			<xsd:annotation>
				<xsd:documentation>Zaokrouhlení dolù na koruny.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="down2half">
			<xsd:annotation>
				<xsd:documentation>Zaokrouhlení dolù na padesátníky.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="down2tenth">
			<xsd:annotation>
				<xsd:documentation>Zaokrouhlení dolù na desetníky.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="typeRoundingVAT">
	<xsd:annotation>
		<xsd:documentation>Zaokrouhlení DPH.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="none">
			<xsd:annotation>
				<xsd:documentation>"DPH nezaokrouhlovat", CZ po 1.1.2005 "Pøesnì na haléøe (DPH nezaokrouhlovat)."</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="up2tenthEveryItem">
			<xsd:annotation>
				<xsd:documentation>"Zaokrouhlit DPH na každé položce", v CZ se nepoužívá po 1.1.2005.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="up2tenthEveryRate">
			<xsd:annotation>
				<xsd:documentation>"Zaokrouhlit souèet DPH v každé sazbì", v CZ se nepoužívá po 1.1.2005.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="math2tenthEveryItem">
			<xsd:annotation>
				<xsd:documentation>"Matematicky zaokrouhlit na 10h". Používá se jen v CZ verzi.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="math2halfEveryItem">
			<xsd:annotation>
				<xsd:documentation>"Matematicky zaokrouhlit na 50h". Používá se jen v CZ verzi.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="math2tenthEveryRate">
			<xsd:annotation>
				<xsd:documentation>"Zaokr. DPH v každé sazbì, mat. na 10h". Používá se jen v CZ verzi.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="math2halfEveryRate">
			<xsd:annotation>
				<xsd:documentation>"Zaokr. DPH v každé sazbì, mat. na 50h". Používá se jen v CZ verzi.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="noneEveryRate">
			<xsd:annotation>
				<xsd:documentation>"DPH v každé sazbì nezaokrouhlovat". Používá se jen v CZ verzi.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="math2intEveryItem">
			<xsd:annotation>
				<xsd:documentation>"Matematicky zaokrouhlit na koruny". Používá se jen v CZ verzi od 1.9.2008.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="math2intEveryRate">
			<xsd:annotation>
				<xsd:documentation>"Zaokr. DPH v každé sazbì, mat. na koruny". Používá se jen v CZ verzi od 1.9.2008.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
	</xsd:restriction>
</xsd:simpleType>

<!-- smazat, jiz se nepouziva - jen ve starych schematech -->
<xsd:complexType name="priceType">
	<xsd:annotation>
		<xsd:documentation>Rozepsání ceny a DPH</xsd:documentation>
	</xsd:annotation>
	<xsd:sequence>
		<xsd:element name="price" type="typ:currencyType">
			<xsd:annotation>
				<xsd:documentation>Èástka v pøislušné sazbì.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="priceVAT" type="typ:currencyType">
			<xsd:annotation>
				<xsd:documentation>Èástka DPH.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="typeCurrencyHome">
	<xsd:sequence>
	  <xsd:element name="priceNone" type="typ:currencyType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Cena v nulové sazbì DPH.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="priceLow" type="typ:currencyType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Cena bez DPH ve snížené sazbì.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="priceLowVAT" type="typ:currencyType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>DPH ve snížené sazbì.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
    <xsd:element name="priceLowSum" type="typ:currencyType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Cena vèetnì DPH ve snížené sazbì.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
    <xsd:element name="priceHigh" type="typ:currencyType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Cena bez DPH ve zvýšené sazbì.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="priceHighVAT" type="typ:currencyType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>DPH ve zvýšené sazbì.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
    <xsd:element name="priceHighSum" type="typ:currencyType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Cena vèetnì DPH ve zvýšené sazbì.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="round" type="typ:typeRound" minOccurs="0">
    	<xsd:annotation>
    		<xsd:documentation>Zaokrouhlení.</xsd:documentation>
    	</xsd:annotation>
    </xsd:element>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="typeRound">
  <xsd:choice minOccurs="1" maxOccurs="1">
    <xsd:element name="priceRound" type="typ:currencyType">
    	<xsd:annotation>
    		<xsd:documentation>Celková suma zaokrouhlení.</xsd:documentation>
    	</xsd:annotation>
    </xsd:element>
    <xsd:group ref="myGroupOfRound">
    	<xsd:annotation>
    		<xsd:documentation>Zaokrouhlovací položka s vypoètenou DPH.</xsd:documentation>
    	</xsd:annotation>
    </xsd:group>
  </xsd:choice>
</xsd:complexType>

<xsd:group name="myGroupOfRound">
  <xsd:sequence>
		<xsd:element name="rateVATround" type="typ:currencyType">
    </xsd:element>
    <xsd:element name="priceRoundSum" type="typ:currencyType">
    </xsd:element>
    <xsd:element name="priceRoundSumVAT" type="typ:currencyType">
    </xsd:element>
  </xsd:sequence>
</xsd:group>

<xsd:complexType name="typeCurrencyForeign">
	<xsd:sequence>
		<xsd:element name="currency" type="typ:refType">
			<xsd:annotation>
				<xsd:documentation>ID - odkaz na cizí mìnu, IDS - kod mìny.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="rate" type="xsd:float" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Kurs použitý pro výpoèet èástek v cízí mìnì.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="amount" type="xsd:integer" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Množství cizí mìny pro kursový pøepoèet.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="priceSum" type="typ:currencyType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Cena v cizí mìnì.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<!--   Položky                                                                         -->
<xsd:complexType name="typeCurrencyHomeItem">
	<xsd:sequence>
	  <xsd:element name="unitPrice" type="typ:currencyType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Jednotková cena. Pokud není uvedena, bere se jako NULOVÁ.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="price" type="typ:currencyType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Cena položky bez DPH.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="priceVAT" type="typ:currencyType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>DPH na položce.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
    <xsd:element name="priceSum" type="typ:currencyType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Cena položky vèetnì DPH.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="typeCurrencyForeignItem">
	<xsd:sequence>
	  <xsd:element name="unitPrice" type="typ:currencyType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Jednotková cena. Pokud není uvedena, bere se jako NULOVÁ.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="price" type="typ:currencyType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Cena ve snížené sazbì.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="priceVAT" type="typ:currencyType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>DPH.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
    <xsd:element name="priceSum" type="typ:currencyType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Celková cena.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
  </xsd:sequence>
</xsd:complexType>

 <xsd:simpleType name="stavType">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="warning">
			<xsd:annotation>
				<xsd:documentation>Varování.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="error">
			<xsd:annotation>
				<xsd:documentation>Chyba.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="stavType2">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="ok">
			<xsd:annotation>
				<xsd:documentation>V poøádku.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="error">
			<xsd:annotation>
				<xsd:documentation>Chyba.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="typePercentage">
	<xsd:annotation>
		<xsd:documentation>Sleva v procentech.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:float">
		<xsd:minInclusive value="0"/>
		<xsd:maxInclusive value="100"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="parameterDataType">
	<xsd:annotation>
		<xsd:documentation>Typ parametru.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="text">
			<xsd:annotation>
				<xsd:documentation>Parametr typu Text.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="currency">
			<xsd:annotation>
				<xsd:documentation>Parametr typu Mìna.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="boolean">
			<xsd:annotation>
				<xsd:documentation>Parametr typu Ano/Ne.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="number">
			<xsd:annotation>
				<xsd:documentation>Parametr typu Èíslo.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="integer">
			<xsd:annotation>
				<xsd:documentation>Parametr typu Èíslo (celé).</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="datetime">
			<xsd:annotation>
				<xsd:documentation>Parametr typu Datum.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="list">
			<xsd:annotation>
				<xsd:documentation>Parametr typu Seznam.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="parameterAgendaType">
	<xsd:annotation>
		<xsd:documentation>Agenda pro import/export parametru.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="adresar">
			<xsd:annotation>
				<xsd:documentation>Parametry agendy Adresáø.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="udalosti">
			<xsd:annotation>
				<xsd:documentation>Parametry agendy Události.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="pokladna">
			<xsd:annotation>
				<xsd:documentation>Parametry agendy Pokladna.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="banka">
			<xsd:annotation>
				<xsd:documentation>Parametry agendy Banka.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="interni">
			<xsd:annotation>
				<xsd:documentation>Parametry agendy Interní doklady.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="nabidky">
			<xsd:annotation>
				<xsd:documentation>Parametry agendy Nabídky.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="objednavky">
			<xsd:annotation>
				<xsd:documentation>Parametry agendy Objednávky.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="faktury">
			<xsd:annotation>
				<xsd:documentation>Parametry agendy Faktury.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="zasoby">
			<xsd:annotation>
				<xsd:documentation>Parametry agendy Zásoby.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="prijemky">
			<xsd:annotation>
				<xsd:documentation>Parametry agendy Pøíjemky.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="vydejky">
			<xsd:annotation>
				<xsd:documentation>Parametry agendy Výdejky.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="vyroba">
			<xsd:annotation>
				<xsd:documentation>Parametry agendy Výroba.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="prevod">
			<xsd:annotation>
				<xsd:documentation>Parametry agendy Pøevod.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="agenda">
			<xsd:annotation>
				<xsd:documentation>Parametry uživatelské agendy.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="personalistika">
			<xsd:annotation>
				<xsd:documentation>Parametry agendy Personalistika.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="drobnyMajetek">
			<xsd:annotation>
				<xsd:documentation>Parametry agendy Drobný majetek.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="majetek">
			<xsd:annotation>
				<xsd:documentation>Parametry agendy Majetek.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="leasingovyMajetek">
			<xsd:annotation>
				<xsd:documentation>Parametry agendy Leasingový majetek.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="smlouvy">
			<xsd:annotation>
				<xsd:documentation>Parametry agendy Smlouvy.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="vozidla">
			<xsd:annotation>
				<xsd:documentation>Parametry agendy Vozidla.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="ridici">
			<xsd:annotation>
				<xsd:documentation>Parametry agendy Seznam øidièù.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="jizdy">
			<xsd:annotation>
				<xsd:documentation>Parametry agendy Jízdy.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="seznam">
			<xsd:annotation>
				<xsd:documentation>Parametry uživatelského seznamu. (není pøipraveno)</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="osnova">
			<xsd:annotation>
				<xsd:documentation>Parametry agendy Úètová osnova.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="reklamace">
			<xsd:annotation>
				<xsd:documentation>Parametry agendy Reklamace.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="strediska">
			<xsd:annotation>
				<xsd:documentation>Parametry agendy Støediska.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="cinnosti">
			<xsd:annotation>
				<xsd:documentation>Parametry agendy Èinnosti.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="zakazky">
			<xsd:annotation>
				<xsd:documentation>Parametry agendy Zakázky.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="prodejky">
			<xsd:annotation>
				<xsd:documentation>Parametry agendy Prodejky.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="ciselneRady">
			<xsd:annotation>
				<xsd:documentation>Parametry agendy Èíselné øady.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="parameterAgendaFormType">
	<xsd:annotation>
		<xsd:documentation>Identifikátor pro formuláø agend sdílejících definici parametrù.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="issuedInvoice">
			<xsd:annotation>
				<xsd:documentation>Formuláø agendy Vydané faktury.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="receivedInvoice">
			<xsd:annotation>
				<xsd:documentation>Formuláø agendy Pøijaté faktury.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="receivable">
			<xsd:annotation>
				<xsd:documentation>Formuláø agendy Ostatní pohledávky.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="commitment">
			<xsd:annotation>
				<xsd:documentation>Formuláø agendy Ostatní závazky.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="issuedAdvanceInvoice">
			<xsd:annotation>
				<xsd:documentation>Formuláø agendy Vydané zálohové faktury.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="receivedAdvanceInvoice">
			<xsd:annotation>
				<xsd:documentation>Formuláø agendy Pøijaté zálohové faktury.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="offer">
			<xsd:annotation>
				<xsd:documentation>Formuláø agendy Nabídky.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="enquiry">
			<xsd:annotation>
				<xsd:documentation>Formuláø agendy Poptávky.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="receivedOrder">
			<xsd:annotation>
				<xsd:documentation>Formuláø agendy Pøijaté objednávky.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="issuedOrder">
			<xsd:annotation>
				<xsd:documentation>Formuláø agendy Vydané objednávky.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ctrlType">
	<xsd:annotation>
		<xsd:documentation>Identifikátor pro typ prvku.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="text">
			<xsd:annotation>
				<xsd:documentation>Popis.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="push">
			<xsd:annotation>
				<xsd:documentation>Tlaèítko.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="link">
			<xsd:annotation>
				<xsd:documentation>Odkaz.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="group">
			<xsd:annotation>
				<xsd:documentation>Rámeèek skupiny.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="rect">
			<xsd:annotation>
				<xsd:documentation>Rámeèek.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="image">
			<xsd:annotation>
				<xsd:documentation>Obrázek.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="edit">
			<xsd:annotation>
				<xsd:documentation>Textové pole.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="check">
			<xsd:annotation>
				<xsd:documentation>Zaškrtávací pole.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="pick">
			<xsd:annotation>
				<xsd:documentation>Datumové pole.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="list">
			<xsd:annotation>
				<xsd:documentation>Seznamové pole.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
	</xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="parameterDocType">
	<xsd:annotation>
		<xsd:documentation>Data volitelného parametru.</xsd:documentation>
	</xsd:annotation>
	<xsd:sequence>
		<xsd:element name="name" type="typ:string16" minOccurs="1" maxOccurs="1"/>
		<xsd:choice minOccurs="1" maxOccurs="1">
			<xsd:element name="textValue" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Data typu Text.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="currencyValue" type="typ:currencyType">
				<xsd:annotation>
					<xsd:documentation>Data typu Mìna.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="booleanValue" type="typ:boolean">
				<xsd:annotation>
					<xsd:documentation>Data typu Ano/Ne.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="numberValue" type="xsd:float">
				<xsd:annotation>
					<xsd:documentation>Data typu Èíslo.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="datetimeValue" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Data typu Datum.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="listValue" type="typ:idType">
				<xsd:annotation>
					<xsd:documentation>Data typu Seznam.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="integerValue" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>Data typu Èíslo(celé).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
		<xsd:element name="list" type="typ:refType" minOccurs="0" maxOccurs="1"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="refAddressType">
	<xsd:annotation>
		<xsd:documentation>Odkaz kontaktní osoby na hlavní adresu.</xsd:documentation>
	</xsd:annotation>
	<xsd:sequence>
		<xsd:element name="refAD" type="typ:idType" minOccurs="0" />
		<xsd:element name="extId" type="typ:extIdType" minOccurs="0" />
		<xsd:element name="address" type="typ:addressType" minOccurs="0"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="liquidationType">
	<xsd:annotation>
		<xsd:documentation>Informace o likvidaci faktury</xsd:documentation>
	</xsd:annotation>
	<xsd:sequence>
		<xsd:element name="date" type="xsd:date" minOccurs="0" />
		<xsd:element name="amountHome" type="typ:currencyType" minOccurs="0"/>
		<xsd:element name="amountForeign" type="typ:currencyType" minOccurs="0"/>
	</xsd:sequence>
</xsd:complexType>
	
</xsd:schema>
