modules/sis-sync/src/main/resources/xsd/voucher.xsd

<?xml version="1.0" encoding="Windows-1250"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:typ="http://www.stormware.cz/schema/type.xsd"
			xmlns:rdc="http://www.stormware.cz/schema/documentresponse.xsd"
			xmlns:vch="http://www.stormware.cz/schema/voucher.xsd"
			xmlns="http://www.stormware.cz/schema/voucher.xsd"
			targetNamespace="http://www.stormware.cz/schema/voucher.xsd"
			elementFormDefault="qualified"
>

<xsd:import namespace="http://www.stormware.cz/schema/type.xsd" 					schemaLocation="type.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/documentresponse.xsd" 	schemaLocation="documentresponse.xsd"/>

<!-- **************************************************************************
		root element must be <voucher>
	 ************************************************************************** -->

<!-- REQUEST -->

<xsd:element name="voucher" type="vch:voucherType"/>

<!-- **************************************************************************
		voucher
	 ************************************************************************** -->

<xsd:complexType name="voucherType">
	<xsd:sequence>
		<xsd:element name="voucherHeader" type="vch:voucherHeaderType"/>
		<xsd:element name="voucherDetail" type="vch:voucherDetailType" minOccurs="0"/>
		<xsd:element name="voucherSummary" type="vch:voucherSummaryType" minOccurs="0"/>
	</xsd:sequence>
	<xsd:attribute name="version" type="vch:vchVersionType" use="required"/>
</xsd:complexType>

<xsd:simpleType name="vchVersionType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="1.0"/>
		<xsd:enumeration value="1.1"/>
		<xsd:enumeration value="1.2"/>
		<xsd:enumeration value="1.3"/>
		<xsd:enumeration value="1.4"/>
		<xsd:enumeration value="1.5"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="voucherHeaderType">
	<xsd:sequence>
		<xsd:element name="id" type="typ:idType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>ID záznamu. Používá se pøi requestu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="voucherType" type="vch:voucherTypeType">
			<xsd:annotation>
				<xsd:documentation>Typ pokladního dokladu</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="cashAccount" type="typ:refType">
			<xsd:annotation>
				<xsd:documentation>Pokladna</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="number" type="typ:numberType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Evidenèní èíslo dokladu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="originalDocument" type="typ:documentNumberType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Èíslo uvedené na pøijatém výdajovém dokladu (èíslo paragonu)</xsd:documentation>
			</xsd:annotation>
		</xsd:element>		
		<xsd:element name="date" type="xsd:date">
			<xsd:annotation>
				<xsd:documentation>Datum vystavení pokladního dokladu</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="datePayment" type="xsd:date" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Datum platby</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="dateTax" type="xsd:date" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Datum zdanitelného plnìní</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="accounting" type="typ:accountingType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Pøedkontace. Pokud není uveden typ pøedkontace, je nastaveno 'Nevím'.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="classificationVAT" type="typ:classificationVATType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Èlenìní DPH, pøednastavená hodnota je "inland"</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="text" type="typ:string240">
			<xsd:annotation>
				<xsd:documentation>Text dokladu</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="partnerIdentity" type="typ:address" minOccurs="0">
		  <xsd:annotation>
				<xsd:documentation>Zákazníkova adresa</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="myIdentity" type="typ:myAddress" minOccurs="0">
		  <xsd:annotation>
				<xsd:documentation>Osobní adresa</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="symPar" type="typ:symVarType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Pár. symbol</xsd:documentation>
			</xsd:annotation>
		</xsd:element>		
		<xsd:element name="priceLevel" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Cenová hladina odbìratele</xsd:documentation>
			</xsd:annotation>
		</xsd:element>		
		<xsd:element name="centre" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Støedisko</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="activity" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Èinnost</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="contract" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Zakázka</xsd:documentation>
			</xsd:annotation>
		</xsd:element>		
		<xsd:element name="note" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Poznámka</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="intNote" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Interní poznámka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="parameter" type="typ:parameterDocType" minOccurs="0" maxOccurs="64">
			<xsd:annotation>
				<xsd:documentation>Volitelný parametr.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="voucherDetailType">
	<xsd:sequence>
		<xsd:element name="voucherItem" type="vch:voucherItemType" maxOccurs="unbounded"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="voucherSummaryType">
	<xsd:sequence>
   	<xsd:element name="roundingDocument" type="typ:typeRoundingDocument" minOccurs="0">
	    	<xsd:annotation>
	    		<xsd:documentation>Zaokrouhlení celkové èástky dokladu.</xsd:documentation>
	    	</xsd:annotation>
	    </xsd:element>
	    <xsd:element name="roundingVAT" type="typ:typeRoundingVAT" minOccurs="0">
	    	<xsd:annotation>
	    		<xsd:documentation>Zaokrouhlení DPH.</xsd:documentation>
	    	</xsd:annotation>
	    </xsd:element>
	    <xsd:element name="homeCurrency" type="typ:typeCurrencyHome" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Kè.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	    <xsd:element name="foreignCurrency" type="typ:typeCurrencyForeign" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Cizí mìna.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>	
</xsd:complexType>

<xsd:complexType name="voucherItemType">
	<xsd:sequence>
		<xsd:element name="text" type="typ:string90" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Text položky.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	  	<xsd:element name="quantity" type="xsd:float" minOccurs="0">
	  		<xsd:annotation>
	  			<xsd:documentation>Množství.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
	  	<xsd:element name="unit" type="typ:unitType" minOccurs="0">
	  		<xsd:annotation>
	  			<xsd:documentation>Mìrná jednotka.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
	  	<xsd:element name="coefficient" type="xsd:float" minOccurs="0" default="1.0">
	  		<xsd:annotation>
	  			<xsd:documentation>Koeficient.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
	  	<xsd:element name="payVAT" type="typ:boolean" minOccurs="0" default="false">
	  		<xsd:annotation>
	  			<xsd:documentation>Ceny jsou uvedeny: bez DPH, vèetnì DPH.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
	  	 <xsd:element name="rateVAT" type="typ:vatRateType" minOccurs="0" default="none">
	  		<xsd:annotation>
	  			<xsd:documentation>Sazba DPH.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
	  	<xsd:element name="discountPercentage" type="typ:typePercentage" minOccurs="0" default="0">
	  		<xsd:annotation>
	  			<xsd:documentation>Sleva v procentech. Pokud není uvedena, bere se jako hodnota slevy z priceLevel dokumentu. Pokud není definován ani priceLevel bere se jako NULOVÁ.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
	  	<xsd:element name="homeCurrency" type="typ:typeCurrencyHomeItem" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Kè.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="foreignCurrency" type="typ:typeCurrencyForeignItem" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Cizí mìna.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="note" type="typ:string90" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Poznámka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="code" type="typ:stockIdsType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Kód.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="symPar" type="typ:symVarType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Pár. symbol</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="stockItem" type="typ:stockItemType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Údaje potøebné k nalezní skladové zásoby vložené do položky. Pokud zde tento element není, jedná se o textovou položku.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="accounting" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Pøedkontace.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="classificationVAT" type="typ:classificationVATType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Èlenìní DPH.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="centre" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Støedisko.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="activity" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Èinnost.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="contract" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Zakázka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="parameter" type="typ:parameterDocType" minOccurs="0" maxOccurs="64">
			<xsd:annotation>
				<xsd:documentation>Volitelný parametr.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="voucherTypeType">
	<xsd:annotation>
		<xsd:documentation>Typ pokladního dokladu.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="receipt">
			<xsd:annotation>
				<xsd:documentation>Pøíjmový doklad.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="expense">
			<xsd:annotation>
				<xsd:documentation>Výdajový doklad.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
	</xsd:restriction>
</xsd:simpleType>

<!-- RESPONSE -->

<xsd:element name="voucherResponse" type="vch:voucherResponseType"/>

<xsd:complexType name="voucherResponseType">
	<xsd:complexContent>
		<xsd:extension  base="rdc:documentResponseType"/>
	</xsd:complexContent>
</xsd:complexType>

</xsd:schema>
