modules/sis-sync/src/main/resources/xsd/vydejka.xsd

<?xml version="1.0" encoding="Windows-1250"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:typ="http://www.stormware.cz/schema/type.xsd"
			xmlns:rdc="http://www.stormware.cz/schema/documentresponse.xsd"
			xmlns:vyd="http://www.stormware.cz/schema/vydejka.xsd"
			xmlns="http://www.stormware.cz/schema/vydejka.xsd"
			targetNamespace="http://www.stormware.cz/schema/vydejka.xsd"
			elementFormDefault="qualified"
>

<xsd:import namespace="http://www.stormware.cz/schema/type.xsd" 					schemaLocation="type.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/documentresponse.xsd" 	schemaLocation="documentresponse.xsd"/>

<!-- **************************************************************************
		root element must be <vydejka>
	 ************************************************************************** -->

<!-- REQUEST -->

<xsd:element name="vydejka" type="vyd:vydejkaType"/>

<!-- **************************************************************************
		vydejka
	 ************************************************************************** -->

<xsd:complexType name="vydejkaType">
	<xsd:sequence>
		<xsd:element name="vydejkaHeader" type="vyd:vydejkaHeaderType"/>
	 	<xsd:element name="vydejkaDetail" type="vyd:vydejkaDetailType" minOccurs="0"/>
		<xsd:element name="vydejkaSummary" type="vyd:vydejkaSummaryType" minOccurs="0"/>
	</xsd:sequence>
	<xsd:attribute name="version" type="vyd:vydVersionType" use="required"/>
</xsd:complexType>

<xsd:simpleType name="vydVersionType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="1.0"/>
		<xsd:enumeration value="1.1"/>
		<xsd:enumeration value="1.2"/>
		<xsd:enumeration value="1.3"/>
		<xsd:enumeration value="1.4"/>
		<xsd:enumeration value="1.5"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="vydejkaHeaderType">
	<xsd:sequence>
		<xsd:element name="id" type="typ:idType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>ID záznamu. Používá se pøi requestu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="number" type="typ:numberType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Evidenèní èíslo dokladu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="date" type="xsd:date">
			<xsd:annotation>
				<xsd:documentation>Datum vystavení dokladu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="numberOrder" type="typ:documentNumberType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Èíslo objednávky na jejímž základì byla výdejka vystavena.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="dateOrder" type="xsd:date" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Datum objednávky.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="text" type="typ:string48">
			<xsd:annotation>
				<xsd:documentation>Text dokladu</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="partnerIdentity" type="typ:address" minOccurs="0">
		  <xsd:annotation>
				<xsd:documentation>Zákazníkova adresa</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="priceLevel" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Cenová hladina odbìratele.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="centre" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Støedisko.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="activity" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Èinnost.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="contract" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Zakázka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="note" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Poznámka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="intNote" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Interní poznámka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="parameter" type="typ:parameterDocType" minOccurs="0" maxOccurs="64">
			<xsd:annotation>
				<xsd:documentation>Volitelný parametr.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="vydejkaDetailType">
	<xsd:sequence>
		<xsd:element name="vydejkaItem" type="vyd:vydejkaItemType" maxOccurs="unbounded"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="vydejkaSummaryType">
	<xsd:sequence>
   		<xsd:element name="roundingDocument" type="typ:typeRoundingDocument" minOccurs="0">
    		<xsd:annotation>
    			<xsd:documentation>Zaokrouhlení celkové èástky dokladu.</xsd:documentation>
    		</xsd:annotation>
    	</xsd:element>
    	<xsd:element name="roundingVAT" type="typ:typeRoundingVAT" minOccurs="0">
    		<xsd:annotation>
    			<xsd:documentation>Zaokrouhlení DPH.</xsd:documentation>
    		</xsd:annotation>
    	</xsd:element>
		<xsd:element name="homeCurrency" type="typ:typeCurrencyHome" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Kè.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	    <xsd:element name="foreignCurrency" type="typ:typeCurrencyForeign" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Cizí mìna.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="vydejkaItemType">
	<xsd:sequence>
		<xsd:element name="text" type="typ:string90" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Text položky.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	  	<xsd:element name="quantity" type="xsd:float" minOccurs="0">
	  		<xsd:annotation>
	  			<xsd:documentation>Množství.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
	  	<xsd:element name="unit" type="typ:unitType" minOccurs="0">
	  		<xsd:annotation>
	  			<xsd:documentation>Mìrná jednotka.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
	  	<xsd:element name="coefficient" type="xsd:float" minOccurs="0" default="1.0">
	  		<xsd:annotation>
	  			<xsd:documentation>Koeficient.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
	  	<xsd:element name="payVAT" type="typ:boolean" minOccurs="0" default="false">
	  		<xsd:annotation>
	  			<xsd:documentation>Ceny jsou uvedeny: bez DPH, vèetnì DPH.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
	    <xsd:element name="rateVAT" type="typ:vatRateType" minOccurs="0" default="none">
	  		<xsd:annotation>
	  			<xsd:documentation>Sazba DPH.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
	  	<xsd:element name="discountPercentage" type="typ:typePercentage" minOccurs="0" default="0">
	  		<xsd:annotation>
	  			<xsd:documentation>Sleva v procentech. Pokud není uvedena, bere se jako NULOVÁ.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
		<xsd:element name="homeCurrency" type="typ:typeCurrencyHomeItem" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Kè.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="foreignCurrency" type="typ:typeCurrencyForeignItem" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Cizí mìna.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	    <xsd:element name="note" type="typ:string90" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Poznámka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="code" type="typ:stockIdsType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Kód (pouze u textové položky).</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="guarantee" type="xsd:integer" minOccurs="0">
	  		<xsd:annotation>
	  			<xsd:documentation>Délka záruky.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
	  	<xsd:element name="guaranteeType" type="typ:guaranteeTypeType" minOccurs="0">
	  		<xsd:annotation>
	  			<xsd:documentation>Typ záruky.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
		<xsd:element name="stockItem" type="typ:stockItemType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Údaje potøebné k nalezení skladové zásoby vložené do položky. Pokud zde tento element není, jedná se o textovou položku.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="centre" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Støedisko.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="activity" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Èinnost.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="contract" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Zakázka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="expirationDate" type="xsd:date" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Datum expirace.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="parameter" type="typ:parameterDocType" minOccurs="0" maxOccurs="64">
			<xsd:annotation>
				<xsd:documentation>Volitelný parametr.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<!-- RESPONSE -->

<xsd:element name="vydejkaResponse" type="vyd:vydejkaResponseType"/>

<xsd:complexType name="vydejkaResponseType">
	<xsd:complexContent>
		<xsd:extension  base="rdc:documentResponseType"/>
	</xsd:complexContent>
</xsd:complexType>

</xsd:schema>
